<h2><%=entry[:feed].title%></h2>

<%entry[:items].each do |item|%>
	<h3><%= item.title %> </h3>
	<b ><%=item.dc_creator%> <%= item.pubDate%> </b><br/>

	<%=sanitize item.description%>
	<%= link_to "[more]", item.link%> <br/><br/>
<%end%>


