<h1>Your current subscriptions:</h1>
<p>
	<% for feed in @feeds%>
		<p>
		<%=h feed.title%> <br/>
		<%= feed.description%> <br/>
		<%= link_to feed.link, feed%>
		</p>
		
		<%= link_to 'Remove', feed_path(feed),:confirm=>'Are you sure to remove this link?', :method => :delete%> 
		<br/>
	<% end %>
</p>
<p>
	<%= button_to 'Add', {:action=>:new}, :method=>:get%> 
	<!--<%= button_to 'Home', :controller =>:home, :action=>:index%> -->
</p>
