	<%content_for :left_column_top do%>
		
		<%=button_to 'Add subscription', new_feed_path, {:method=>:get, :remote=>true} %>

	<%end%>

	<%content_for :left_column_buttom do%>
		<h3><%=link_to "All Subscriptions", feeds_url%><h3>
		<ul>
			<%= render :partial=> "subscription", :collection => current_user.feeds%>
		</ul>
	<%end%>

	<div id="top_row_content">
	</div>


	<div id="entriesCount">
		
	</div>

	<!--<%=button_to "Send to kindle", {:controller=>'publish', :action=>'create'}%>-->

	<div id="feed_entry">
		<%= render :partial=> "entry", :collection => @entries%>	
	</div>




