
<p>
	<%= @rss.channel.title %><br/>
	<%= @rss.channel.link%> <br>
	<%="Total entries #{@rss.items.size}"%>
</p>

<p>
	<% for item in @rss.items%>
		<%= link_to item.title, item.link%><br/>
		<%= item.date %><br/>
		<%= raw item.description%><br/><br/>
	<%end%>
</p>

