<div class="entry_title">	
	<h2><%=entry[:feed].title%> (<%=entry[:items].count.to_s%>)</h2>
</div>

<ol>
	<%entry[:items].each do |item|%>
		<li>
			<h3><%= item.title %> </h3>
			<b ><%=item.dc_creator%> <%= item.pubDate%> </b><br/>

			<div class='news_content'>
			  <%=sanitize item.description%>
			</div>
			<%= link_to "[Read More]", item.link%> 
		</li>
	<%end%>
</ol>



