<%= h "Choose on of the following to sign In KindleHog" %>

<p>
	<a href="/auth/twitter" class="auth_provider">
	  <%= image_tag "twitter_64.png", :size => "64x64", :alt => "Twitter" %>
	  Twitter
	</a>
	<a href="/auth/facebook" class="auth_provider">
	  <%= image_tag "facebook_64.png", :size => "64x64", :alt => "Facebook" %>
	  Facebook
	</a>
	<a href="/auth/google_apps" class="auth_provider">
	  <%= image_tag "google_apps_64.png", :size => "64x64", :alt => "Google" %>
	  Google
	</a>
	<a href="/auth/open_id" class="auth_provider">
	  <%= image_tag "open_id_64.png", :size => "64x64", :alt => "OpenID" %>
	  OpenID
	</a>
</p>



