	<%content_for :left_column_top do%>
		
		<%=button_to 'Add subscription', new_user_subscription_path, {:method=>:get, :remote=>true} %>

	<%end%>

	<%content_for :left_column_buttom do%>
		<div id="left_column_buttom_subscriptions">
			<h3><%=link_to "All Subscriptions", user_subscriptions_path%><h3>
			<ul>
				<%= render :partial=> "subscription", :collection => current_user.subscriptions%>
			</ul>
		</div>
		<div id="left_column_buttom_manage">
			<%= link_to "Manage your subscriptions >>", url_for(current_user)+"/manage"%>
		</div>
	<%end%>


	<%= render :file=> "layouts/application"%>	




